<section class="relative px-10 py-12 overflow-hidden" id="publications">
	<!-- Header -->
	<p class="text-center text-3xl md:text-5xl font-bold leading-tight mb-6">Our latest publications</p>
	
	<!-- Container -->
	<div class="flex flex-wrap justify-center gap-4 max-w-4xl mx-auto">
		{% for entry in publications.items | limit(5) %}
			<!-- Individual entry -->
			<a href="{{ entry.href }}" target="_blank">
				<div class="flex flex-col items-center space-y-2 bg-gray-100 p-4 rounded w-72 transition-all duration-300 hover:scale-105 hover:bg-gray-200">
					<p class="text-xl font-semibold tracking-tight">
						{{entry.name}}
					</p>
					<p class="text-center text-sm font-normal text-gray-500 leading-relaxed">{{entry.desc}}</p>
				</div>
			</a>
		{% endfor %}
	</div>
</section>